<div>
  <div>
    <div>
      <h3 class="text-lg font-medium leading-6 text-gray-900">Notes and History</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Additional information about the family.</p>
    </div>
    <%= render partial: "notes/feed", locals: { noteable: @family, notes: @family.notes.order(created_at: :desc) } %>
    <%= render partial: "notes/form", locals: { noteable: @family, note: @family.notes.new } %>
  </div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900"><%= title @family.name %></h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and family details.</p>
  </div>
  <div class="mt-5 border-t border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Name</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @family.name %></dd>
      </div>
      <% if @family.phone %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
          <dt class="text-sm font-medium text-gray-500">Phone</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <% if @family.phone.is_a?(Array) %>
              <div class="flex flex-col">
                <% @family.phone.each do |phone_number| %>
                  <%= phone_to(phone_number.delete('^0-9'), phone_number, class: "text-pink-600 hover:text-pink-900",
                              data: { action: "click->family-contact#familyContacted" }) %>
                <% end %>
              </div>
            <% else %>
                <%= phone_to(@family.phone&.delete('^0-9'), @family.phone, class: "text-pink-600 hover:text-pink-900",
                        data: { action: "click->family-contact#familyContacted" }) if @family.phone %>
            <% end %>
          </dd>
        </div>
      <% end %>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= mail_to(@family.email, class: "text-pink-600 hover:text-pink-900",
                      data: { action: "click->family-contact#familyContacted" }) if @family.email %>
        </dd>
      </div>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= render(AddressComponent.new(family: @family)) %>
        </dd>
      </div>
      <% if @family.exclusions %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
          <dt class="text-sm font-medium text-gray-500">Exclusions</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                <% @family.exclusions.each do |exclusion| %>
                  <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                    <div class="flex w-0 flex-1 items-center">
                      <% if ExclusionComparator.exclusion_hit?(search: @search, exclusion: exclusion) %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-red-500">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 w-0 flex-1 truncate font-bold"><%= exclusion.display_text %></span>
                      <% else %>
                        <svg class="w-5 h-5 text-pink-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                        </svg>
                        <span class="ml-2 w-0 flex-1 truncate"><%= exclusion.display_text %></span>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </dt>
        </div>
      <% end %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "race")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "religion")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "other_children_in_home", label: "Number of other children in the home")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "recreational_activities")) %>
      <%= render(FamilySearchAttributeComponent.new(
        family: @family,
        search: @search,
        attribute: [
          { attribute: "dogs", label: "They have dogs in the home" },
          { attribute: "cats", label: "They have cats in the home" },
          { attribute: "other_animals", label: "They have other animals in the home" },
        ],
        label: "Pet information")) %>
    </dl>
  </div>
</div>

<div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Foster Care Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Foster care details and skills.</p>
  </div>
  <div class="mt-5 border-t border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "region")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "license_date")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "status", label: "License status")) %>
      <% if @family.on_break? %>
        <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "on_break")) do %>
           <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="inline-flex items-center text-sm font-medium text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-orange-500">
                <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
              On break
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <%= [@family.on_break_start_date&.strftime("%b %-d %Y"), @family.on_break_end_date&.strftime("%b %-d %Y")].join(" - ") %>
            </dd>
          </div>
        <% end %>
      <% end %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "availability")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "spots_available")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "icwa", label: "ICWA")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "skills")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "experience_with_care")) %>
      <%= render(FamilySearchAttributeComponent.new(
        family: @family,
        search: @search,
        attribute: [
          { attribute: "available_visit_transportation", label: "They are available to handle transports to visits." },
          { attribute: "available_school_transportation", label: "They are available to handle transports to school." },
          { attribute: "available_counselor_transportation", label: "They are available to handle transports to counseling appointments." },
        ],
        label: "Availability")) %>
    </dl>
  </div>
</div>
