<div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900"><%= @family.name %></h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and family details.</p>
  </div>
  <div class="mt-5 border-t border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Name</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @family.name %></dd>
      </div>
      <% if @family.phone %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
          <dt class="text-sm font-medium text-gray-500">Phone</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= phone_to(@family.phone&.delete('^0-9'), @family.phone, class: "text-pink-600 hover:text-pink-900",
                        data: { action: "click->family-contact#familyContacted" }) %>
          </dd>
        </div>
      <% end %>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= mail_to(@family.email, class: "text-pink-600 hover:text-pink-900",
                      data: { action: "click->family-contact#familyContacted" }) if @family.email %>
        </dd>
      </div>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= render(AddressComponent.new(family: @family)) %>
        </dd>
      </div>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "race")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "religion")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "other_children_in_home", label: "Number of other children in the home")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "recreational_activities")) %>
      <%= render(FamilySearchAttributeComponent.new(
        family: @family,
        search: @search,
        attribute: [
          { attribute: "dogs", label: "They have dogs in the home" },
          { attribute: "cats", label: "They have cats in the home" },
          { attribute: "other_animals", label: "They have other animals in the home" },
        ],
        label: "Pet information")) %>
    </dl>
  </div>
</div>

<div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Foster Care Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Foster care details and skills.</p>
  </div>
  <div class="mt-5 border-t border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200">
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "region")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "license_date")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "status", label: "License status")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "family_interest")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "spots_available")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "icwa", label: "ICWA")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "skills")) %>
      <%= render(FamilySearchAttributeComponent.new(family: @family, search: @search, attribute: "experience_with_care")) %>
      <%= render(FamilySearchAttributeComponent.new(
        family: @family,
        search: @search,
        attribute: [
          { attribute: "available_visit_transportation", label: "They are available to handle transports to visits." },
          { attribute: "available_school_transportation", label: "They are available to handle transports to school." },
          { attribute: "available_counselor_transportation", label: "They are available to handle transports to counseling appointments." },
          { attribute: "available_multiple_appointments_per_week", label: "They are available to handle multiple appointments per week." },
        ],
        label: "Availability")) %>
    </dl>
  </div>
</div>
