<%= render partial: "devise/shared/page_title" %>

<div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-6" }, data: { turbo: false }) do |f| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div>
          <%= f.label :email, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm focus:ring-pink-500 focus:border-pink-500 mt-1 block w-full border-gray-300 rounded-md", required: true %>
          </div>
        </div>
      </div>

      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= f.submit "Send me reset password instructions", class: "w-full flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
