<div class="hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col">
  <div class="flex min-h-0 flex-1 flex-col border-r border-gray-200 bg-white">
    <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
      <div class="flex flex-shrink-0 items-center px-4">
        <%= image_tag "logo.png", class: "h-8 w-auto", alt: "True Harbor" %>
      </div>
      <nav class="mt-5 flex-1 space-y-1 bg-white px-2">
        <% if current_user %>
          <%= link_to families_path, class: desktop_menu_classes(controller: "families") do %>
            <svg class="text-gray-500 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Families
          <% end %>
          <%= link_to searches_path, class: desktop_menu_classes(controller: "searches") do %>
            <svg class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
            Searches
          <% end %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: desktop_menu_classes(controller: "devise") do %>
            <svg class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            Sign out
          <% end %>
        <% end %>
      </nav>
    </div>
    <div class="flex flex-shrink-0 border-t border-gray-200 p-4">
      <% if current_user %>
        <%= link_to edit_user_registration_path, data: { turbo: false }, class: "group block w-full flex-shrink-0" do %>
          <div class="flex items-center">
            <div>
              <svg class="inline-block h-9 w-9 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900"><%= current_user.display_name %></p>
              <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">View profile</p>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, data: { turbo: false }, class: "group block w-full flex-shrink-0" do %>
          <div class="flex items-center">
            <div>
              <svg class="inline-block h-9 w-9 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">Sign In</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
