<tr id="<%= dom_id result %>"
    data-controller="result family-contact"
    data-result-id-value="<%= result.id %>"
    data-result-state-value="<%= result.state %>"
    data-family-contact-id-value="<%= result.family.id %>"
    class="<%= result_row_bg_class(result) %>">
  <%= render(TableDataComponent.new(position: "first")) do %>
    <% if result.excluded? %>
      <div class="group flex items-center">
        <span class="inline-flex items-center rounded-full bg-orange-100 mr-1 px-2.5 py-0.5 text-xs font-medium text-orange-800">
          <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="3" />
          </svg>
          exclusions
        </span>
        <%= result.family.name %>
      </div>
    <% else %>
      <%= result.family.name %>
    <% end %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <% if result.family.phone.is_a?(Array) %>
      <div class="flex flex-col">
        <% result.family.phone.each do |phone_number| %>
          <%= phone_to(phone_number.delete('^0-9'), phone_number, class: "text-pink-600 hover:text-pink-900",
                      data: { action: "click->family-contact#familyContacted" }) %>
        <% end %>
      </div>
    <% else %>
        <%= phone_to(family.phone&.delete('^0-9'), result.family.phone, class: "text-pink-600 hover:text-pink-900",
                 data: { action: "click->family-contact#familyContacted" }) if family.phone %>
    <% end %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.family_interest.titleize %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.spots_available %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.last_contacted_at&.strftime("%b %-d %Y, %l:%M %P") || "Never" %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= render(ScoreComponent.new(score: result.score)) %>
  <% end %>
  <%= render(TableDataComponent.new(position: "last")) do %>
    <span class="isolate inline-flex rounded-md shadow-sm">
      <% unless result.search.completed? %>
        <button type="button"
                class="relative inline-flex items-center rounded-l-md border border-pink-300 <%= result.selected? ? "bg-emerald-500 hover:bg-emerald-700 text-white" : "bg-white hover:bg-pink-50 text-gray-700" %> px-4 py-2 text-sm font-medium focus:z-10 focus:border-pink-500 focus:outline-none focus:ring-1 focus:ring-pink-500"
                data-action="result#toggleSelected">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>
        <button type="button"
                class="relative -ml-px inline-flex items-center border border-pink-300 <%= result.declined? ? "bg-red-500 hover:bg-red-700 text-white" : "bg-white hover:bg-pink-50 text-gray-700" %> px-4 py-2 text-sm font-medium focus:z-10 focus:border-pink-500 focus:outline-none focus:ring-1 focus:ring-pink-500"
                data-action="result#toggleDeclined">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>
      <% end %>
      <button type="button"
              class="relative -ml-px inline-flex items-center <%= result.search.completed? ? "rounded-md" : "rounded-r-md" %> border border-pink-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-pink-50 focus:z-10 focus:border-pink-500 focus:outline-none focus:ring-1 focus:ring-pink-500"
              data-action="slide-over#slideIn" data-family-id="<%= result.family.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </button>
    </span>
  <% end %>
</tr>
