<tr id="<%= dom_id result %>"
    data-controller="result family-contact"
    data-result-id-value="<%= result.id %>"
    data-result-selected-value="<%= result.selected %>"
    data-family-contact-id-value="<%= result.family.id %>"
    class="<%= result.selected ? "bg-emerald-50" : "" %>">
  <%= render(TableDataComponent.new(position: "first")) do %>
    <%= result.family.name %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= phone_to(result.family.phone&.delete('^0-9'), result.family.phone, class: "text-pink-600 hover:text-pink-900",
                 data: { action: "click->family-contact#familyContacted" }) if result.family.phone %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.family_interest.titleize %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.spots_available %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= result.family.last_contacted_at&.strftime("%b %-d %Y, %l:%M %P") || "Never" %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= render(ScoreComponent.new(score: result.score)) %>
  <% end %>
  <%= render(TableDataComponent.new(position: "last")) do %>
    <% unless result.search.completed? %>
      <button type="button" class="text-pink-600 hover:text-pink-900" data-action="result#toggleSelected">
        <% if !result.selected? %>
          Select
        <% else %>
          Unselect
        <% end %>
      </button>
    <% end %>
    <button type="button" class="text-pink-600 hover:text-pink-900" data-action="slide-over#slideIn" data-family-id="<%= result.family.id %>">
      View
    </button>
  <% end %>
</tr>
