<%= render partial: "devise/shared/page_title" %>

<div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }, data: { turbo: false }) do |f| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div>
          <%= f.label :email, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email, value: params[:email] || resource&.email, autofocus: true, class: "shadow-sm focus:ring-pink-500 focus:border-pink-500 mt-1 block w-full border-gray-300 rounded-md", required: true %>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password, value: params[:password], autocomplete: "new-password", class: "shadow-sm focus:ring-pink-500 focus:border-pink-500 mt-1 block w-full border-gray-300 rounded-md", required: true %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: "h-4 w-4 text-pink-600 focus:ring-pink-500 border-gray-300 rounded" %>
                <%= f.label :remember_me, class: "ml-2 block text-gray-900" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= f.button :submit, class: "group relative w-full flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" do %>
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-pink-500 group-hover:text-pink-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        <% end %>
      </div>
    </div>
  <% end %>
</div>
