<%= form_with model: search, class: "space-y-8 divide-y divide-gray-200" do |form| %>
  <div class="space-y-6 sm:space-y-5">
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
      <%= form.label :name, "Search name", class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:col-span-2 sm:mt-0">
        <%= form.text_field :name, required: true, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
      <%= form.label :category, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:col-span-2 sm:mt-0">
        <%= form.select :category, options_for_select(Search.categories.map { |key, value| [key.titleize, Search.categories.key(value)] }, search.category), { }, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:max-w-xs sm:text-sm" %>
      </div>
    </div>
  </div>

  <div class="space-y-6 divide-y divide-gray-200 pt-8 sm:space-y-5 sm:pt-10" data-controller="nested-fields">
    <div>
      <h3 class="text-lg font-medium leading-6 text-gray-900">Children</h3>
    </div>
    <div class="space-y-6 sm:space-y-5" data-nested-fields-target="container">
      <%= form.fields_for :children do |child_form| %>
        <%= render partial: "child_fields", locals: { form: child_form } %>
      <% end %>

      <%= form.fields_for :children, Child.new do |child_form| %>
        <%= render partial: "child_fields", locals: { form: child_form } %>
      <% end %>
    </div>
    <%= link_to_add_fields "Add Child", form, :children %>
  </div>

  <%= form.fields_for :query, OpenStruct.new(search.query) do |query_form| %>
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div class="space-y-6 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Search Filters</h3>
          <p class="mt-2 max-w-4xl text-sm text-gray-500">These parameters will filter out results that do not meet these requirements. You can always edit a search and change these parameters to include more results if you need to later.</p>
        </div>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :address_1, "Street address", class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.text_field :address_1, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :address_2, "Street address 2", class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.text_field :address_2, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :city, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.text_field :city, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :state, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.select :state, options_for_select([ "Idaho" ], "Idaho"), {}, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:max-w-xs sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :zip, "ZIP / Postal code", class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.text_field :zip, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <div>
              <%= query_form.label :distance, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
              <p class="mt-2 text-sm text-gray-500">Filter results to only families that live within this distance of the address above.</p>
            </div>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.select :distance, options_for_select([["10 miles", 10], ["25 miles", 25], ["50 miles", 50], ["100 miles", 100]], search.query&.dig("distance")), { include_blank: true }, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:max-w-xs sm:text-sm" %>
            </div>
          </div>

          <% if @organization.regions.present? %>
            <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
              <div role="group">
                <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                  <div>
                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Region</div>
                  </div>
                  <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <div class="max-w-lg space-y-4">
                      <% @organization.regions.order(:name).each do |region| %>
                        <div class="relative flex items-start">
                          <div class="flex h-5 items-center">
                            <%= check_box_tag "search[query][region_id][#{region.id}]", region.name.to_sym, search.query&.dig("region_id")&.any?(region.id), class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                          </div>
                          <div class="ml-3 text-sm">
                            <%= label_tag "search[query][region_id][#{region.id}]", region.name, class: "font-medium text-gray-700" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @organization.school_districts.present? %>
            <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
              <div role="group">
                <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                  <div>
                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">School District</div>
                  </div>
                  <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <div class="max-w-lg space-y-4">
                      <% @organization.school_districts.order(:name).each do |school_district| %>
                        <div class="relative flex items-start">
                          <div class="flex h-5 items-center">
                            <%= check_box_tag "search[query][school_district_id][#{school_district.id}]", school_district.name.to_sym, search.query&.dig("school_district_id")&.any?(school_district.id), class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                          </div>
                          <div class="ml-3 text-sm">
                            <%= label_tag "search[query][school_district_id][#{school_district.id}]", school_district.name, class: "font-medium text-gray-700" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Availability</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <% Family.availabilities.sort.each do |availability| %>
                      <div class="relative flex items-start">
                        <div class="flex h-5 items-center">
                          <%= check_box_tag "search[query][availability][#{availability}]", availability, search.query&.dig("availability")&.any?(availability), name: "search[query][availability][]", class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= label_tag "search[query][availability][#{availability}]", availability, class: "font-medium text-gray-700" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-6 divide-y divide-gray-200 pt-8 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Foster Care Information</h3>
          <p class="mt-2 max-w-4xl text-sm text-gray-500">These parameters will be usded to determine the best families that are a fit for this search. Families are given points only for the parameters you select.</p>
        </div>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :spots_available, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.number_field :spots_available, min: 0, step: 1, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :race, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.select :race, options_for_select(Family.races.map { |key, value| [key.titleize, Family.races.key(value)] }, search.query&.dig("race")), { include_blank: true }, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:max-w-xs sm:text-sm" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= query_form.label :religion, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
              <%= query_form.select :religion, options_for_select(Family.religions.map { |key, value| [key.titleize, Family.religions.key(value)] }, search.query&.dig("religion")), { include_blank: true }, class: "block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-pink-500 focus:ring-pink-500 sm:max-w-xs sm:text-sm" %>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Recreational Activities</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <% Family.recreational_activities.sort.each do |recreational_activity| %>
                      <div class="relative flex items-start">
                        <div class="flex h-5 items-center">
                          <%= check_box_tag "search[query][recreational_activities][#{recreational_activity}]", recreational_activity.to_sym, search.query&.dig("recreational_activities")&.any?(recreational_activity), class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= label_tag "search[query][recreational_activities][#{recreational_activity}]", recreational_activity.titleize, class: "font-medium text-gray-700" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Pet information</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :dogs, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :dogs, class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They have dogs in their home.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :cats, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :cats, class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They have cats in their home.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :other_animals, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :other_animals, class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They have other animals in their home.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Indian Child Welfare Act</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :icwa, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :icwa, "ICWA", class: "font-medium text-gray-700" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Skills</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <% Family.skills.sort.each do |skill| %>
                      <div class="relative flex items-start">
                        <div class="flex h-5 items-center">
                          <%= check_box_tag "search[query][skills][#{skill}]", skill.to_sym, search.query&.dig("skills")&.any?(skill), class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= label_tag "search[query][skills][#{skill}]", skill, class: "font-medium text-gray-700" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Child Needs</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <% Family.experience_with_care.sort.each do |care| %>
                      <div class="relative flex items-start">
                        <div class="flex h-5 items-center">
                          <%= check_box_tag "search[query][experience_with_care][#{care}]", care.to_sym, search.query&.dig("experience_with_care")&.any?(care), class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= label_tag "search[query][experience_with_care][#{care}]", care, class: "font-medium text-gray-700" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 sm:pt-5 sm:border-t sm:border-gray-200">
            <div role="group">
              <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700">Availablity</div>
                </div>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :available_visit_transportation, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :available_visit_transportation, "Transport to visits", class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They are available to handle transports to visits.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :available_school_transportation, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :available_school_transportation, "Transport to school", class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They are available to handle transports to school.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <%= query_form.check_box :available_counselor_transportation, class: "h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= query_form.label :available_counselor_transportation, "Transport to counseling", class: "font-medium text-gray-700" %>
                        <p class="text-gray-500">They are available to handle transports to counseling appointments.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to "Cancel", :back, class: "cursor-pointer rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2" %>
      <%= form.submit class: "cursor-pointer ml-3 inline-flex justify-center rounded-md border border-transparent bg-pink-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %>
