<tr id="<%= dom_id search %>">
  <%= render(TableDataComponent.new(position: "first")) do %>
    <%= search.name %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= search.results_without_exclusions.size %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= search.created_at.strftime("%b %-d %Y, %l:%M %P") %>
  <% end %>
  <%= render(TableDataComponent.new()) do %>
    <%= search.completed_at&.strftime("%b %-d %Y, %l:%M %P") || "-" %>
  <% end %>
  <%= render(TableDataComponent.new(position: "last")) do %>
    <span class="isolate inline-flex rounded-md shadow-sm">
      <% unless search.completed? %>
        <%= link_to edit_search_path(search), data: { test: "edit-button" }, class: "relative -ml-px inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-pink-500 focus:outline-none focus:ring-1 focus:ring-pink-500" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
            <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
          </svg>
        <% end %>
      <% end %>
      <%= link_to search_path(search), data: { test: "view-button" }, class: "relative -ml-px inline-flex items-center #{search.completed? ? "rounded-md" : "rounded-r-md"} border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-pink-500 focus:outline-none focus:ring-1 focus:ring-pink-500" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      <% end %>
    </span>
  <% end %>
</tr>
