<div class="px-4 sm:px-6 lg:px-8 flex flex-col space-y-4">
  <%= render PageHeaderComponent.new(page_title: "Searches") do %>
    <%= link_to "Add search", new_search_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-pink-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2 sm:w-auto" %>
  <% end %>
  <% if @searches_not_completed.present? %>
    <div class="pb-4 border-b-2 border-pink-200">
      <div class="flex flex-col space-y-4">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h2 class="text-xl font-semibold text-gray-900">Active Searches</h2>
          </div>
        </div>
        <div class="overflow-hidden bg-pink-50 shadow sm:rounded-md">
          <ul role="list" class="divide-y divide-pink-200">
            <% @searches_not_completed.each do |search| %>
              <li>
                <%= link_to(search_path(search), class: "block hover:bg-white") do %>
                  <div class="px-4 py-4 sm:px-6">
                    <div class="flex items-center justify-between">
                      <p class="truncate text-sm font-medium text-gray-600"><%= search.name %></p>
                      <div class="ml-2 flex flex-shrink-0">
                        <p class="inline-flex rounded-full bg-pink-100 px-2 text-xs font-semibold leading-5 text-pink-800"><%= search.category.titleize %></p>
                      </div>
                    </div>
                    <div class="mt-2 sm:flex justify-between">
                      <div class="flex space-x-6">
                        <p class="flex items-center text-sm text-gray-500">
                          <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M7 8a3 3 0 100-6 3 3 0 000 6zM14.5 9a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM1.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 017 18a9.953 9.953 0 01-5.385-1.572zM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 00-1.588-3.755 4.502 4.502 0 015.874 2.636.818.818 0 01-.36.98A7.465 7.465 0 0114.5 16z" />
                          </svg>
                          <%= search.results_without_exclusions.size %>
                        </p>
                        <% if search.query.dig("city").present? %>
                          <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                            </svg>
                            <%= search.query.dig("city") %>
                          </p>
                        <% end %>
                      </div>
                      <div class="flex space-x-6">
                        <% if search.due_date.present? %>
                          <div class="mt-2 flex items-center text-sm <%= search.due_date < Time.zone.now ? "text-red-500" : "text-gray-500" %> sm:mt-0">
                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 <%= search.due_date < Time.zone.now ? "text-red-400" : "text-gray-400" %>" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <p>
                              Due on
                              <time datetime="<%= search.due_date.strftime("%Y-%M-%d") %>"><%= search.due_date.strftime("%B %e, %Y") %></time>
                            </p>
                          </div>
                        <% end %>
                        <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                          <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                          </svg>

                          <p>
                            <time datetime="<%= search.created_at.strftime("%Y-%M-%d") %>"><%= search.created_at.strftime("%B %e, %Y") %></time>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if @searches.present? %>
    <div class="flex flex-col space-y-4">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h2 class="text-xl font-semibold text-gray-900">All Searches</h2>
        </div>
      </div>
      <%= render(TableComponent.new()) do %>
        <%= turbo_stream_from :searches_table %>
        <thead class="bg-pink-50">
          <tr>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Name</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Number of Results</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Started At</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Finished At</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 py-3.5 pr-4 pl-3 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @searches.each do |search| %>
            <%= render partial: "search_table_row", locals: { search: search } %>
          <% end %>
        </tbody>
      <% end %>
      <%= render(PaginationComponent.new(records: @searches, page: params[:page])) %>
    </div>
  <% else %>
  <%= render(EmptyStateComponent.new(klass: Search)) %>
  <% end %>
</div>
