<div class="px-4 sm:px-6 lg:px-8 flex flex-col space-y-4">
  <div class="sm:flex sm:items-center ">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Searches</h1>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to "Add search", new_search_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-pink-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>
  <% if @searches.present? %>
    <% if @searches.not_completed.present? %>
      <div class="pb-4 border-b-2 border-pink-200">
        <div class="flex flex-col space-y-4">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h2 class="text-xl font-semibold text-gray-900">Active Searches</h2>
            </div>
          </div>
          <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <% @searches.not_completed.each do |search| %>
              <li class="col-span-1 divide-y divide-pink-200 rounded-lg bg-pink-50 bg-opacity-75 shadow">
                <div class="flex w-full items-center justify-between space-x-6 p-6">
                  <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                      <h3 class="truncate text-sm font-medium text-gray-900"><%= search.name %></h3>
                      <span class="inline-block flex-shrink-0 rounded-full bg-pink-100 px-2 py-0.5 text-xs font-medium text-pink-800"><%= search.category.titleize %></span>
                    </div>
                    <p class="mt-1 truncate text-sm text-gray-500"><%= search.query.dig("city") %></p>
                  </div>
                  <div class="w-10 h-10 border-2 rounded-full bg-white grid place-items-center">
                    <svg class="w-7 h-7 bg-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                  </div>
                </div>
                <div>
                  <div class="-mt-px flex divide-x divide-pink-200">
                    <div class="flex w-0 flex-1 bg-pink-100">
                      <%= link_to edit_search_path(search), data: { test: "edit-button" }, class: "hover:bg-white relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-medium text-gray-500 hover:text-gray-900" do %>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                          <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                        </svg>
                        <span class="ml-3">Edit</span>
                      <% end %>
                    </div>
                    <div class="-ml-px flex w-0 flex-1 bg-pink-100">
                      <%= link_to search_path(search), data: { test: "view-button" }, class: "hover:bg-white relative inline-flex w-0 flex-1 items-center justify-center rounded-br-lg border border-transparent py-4 text-sm font-medium text-gray-500 hover:text-gray-900" do %>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                          <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                        <span class="ml-3">View</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col space-y-4">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h2 class="text-xl font-semibold text-gray-900">All Searches</h2>
        </div>
      </div>
      <%= render(TableComponent.new()) do %>
        <%= turbo_stream_from :searches_table %>
        <thead class="bg-pink-50">
          <tr>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Name</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Number of Results</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Started At</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Finished At</th>
            <th scope="col" class="sticky top-0 z-10 border-b border-pink-300 bg-pink-50 bg-opacity-75 py-3.5 pr-4 pl-3 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @searches.each do |search| %>
            <%= render partial: "search_table_row", locals: { search: search } %>
          <% end %>
        </tbody>
      <% end %>
    </div>
  <% else %>
    <%= render(EmptyStateComponent.new(klass: Search)) %>
  <% end %>
</div>
